@model IEnumerable<PostIT.Models.Article>

@{
    ViewBag.Title = "Index";
}

<h2>@PostIT.LocalResource.Resources.Index</h2>

<p>
    @Html.ActionLink(PostIT.LocalResource.Resources.Create, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName(PostIT.LocalResource.Resources.Title)
        </th>
        <th>
            @Html.DisplayName(PostIT.LocalResource.Resources.Content)
        </th>
        <th>
            @Html.DisplayName(PostIT.LocalResource.Resources.ShortDescription)
        </th>
        <th>
            @Html.DisplayName(PostIT.LocalResource.Resources.Created)
        </th>
        <th>
            @Html.DisplayName(PostIT.LocalResource.Resources.Modified)
        </th>
        <th>
            @Html.DisplayName(PostIT.LocalResource.Resources.Published)
        </th>
        <th>
            @Html.DisplayName(PostIT.LocalResource.Resources.Category)
        </th>
        <th>
            @Html.DisplayName(PostIT.LocalResource.Resources.Picture)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Published)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilePath.FileName)
        </td>
        <td>
            @Html.ActionLink(PostIT.LocalResource.Resources.Edit, "Edit", new { id=item.ID }) |
            @Html.ActionLink(PostIT.LocalResource.Resources.Details, "Details", new { id=item.ID }) |
            @Html.ActionLink(PostIT.LocalResource.Resources.Delete, "Delete", new { id=item.ID })
        </td>
    </tr>
}
</table>